asgiref==3.8.1
Brotli==1.1.0
build==1.2.2.post1
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
cssselect2==0.8.0
Django==5.2.1
django-allauth==65.7.0
django-cors-headers==4.7.0
djangorestframework==3.16.0
drf-yasg==1.21.10
fonttools==4.57.0
gitdb==4.0.12
GitPython==3.1.44
idna==3.10
inflection==0.5.1
markdown2==2.5.3
packaging==25.0
pillow==11.2.1
pip-tools==7.4.1
pycparser==2.22
pydyf==0.11.0
pyphen==0.17.2
pyproject_hooks==1.2.0
python-dotenv==1.1.0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
setuptools==80.3.1
smmap==5.0.2
sqlparse==0.5.3
tinycss2==1.4.0
tinyhtml5==2.0.0
uritemplate==4.1.1
urllib3==2.4.0
weasyprint==65.1
webencodings==0.5.1
wheel==0.45.1
zopfli==0.2.3.post1
